{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{{ url }}" id="autosubmit" class="d-none"
          accept-charset="UTF-8">
        <input type="hidden" name="amount" value="{{ amount }}"/>
        <input type="hidden" name="currency" value="{{ currency }}"/>
        <input type="hidden" name="shop_id" value="{{ shop_id }}"/>
        <input type="hidden" name="sign" value="{{ sign }}"/>
        <input type="hidden" name="shop_order_id" value="{{ shop_order_id }}"/>
        <input type="hidden" name="description" value="{{ description }}"/>
        <input type="submit">
    </form>
    <script>
        document.getElementById('autosubmit').submit();
    </script>
{% endblock %}