{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form class="border col-sm-7 m-auto" method="post" action="/">
        <h1>Fill the form:</h1>

        {{ form.hidden_tag() }}
        <p>
            {{ render_field(form.amount) }}
        </p>
        <p>
            {{ render_field(form.currency) }}
        </p>
        <p>
            {{ render_field(form.description) }}
        </p>
        <p>
            {{ form.submit(class_="btn btn-primary") }}
        </p>
    </form>
{% endblock %}